.ListEntryRow {
    min-height: 150px;
    max-height: 200px;
    margin-bottom: 20px;
}

.EntryRowImage {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center; 
}

@media (max-width: 991px) { 
    .ListEntryRow {
        height: auto;
        max-height: 650px;
    }
    .EntryRowImage {
        min-height: 100px;
    }
 }