.Entry {
}

.EntryImage {
    background-size: cover;
    background-position: center;
}

.SinglePostEntryImage {
    float: left;
    margin: 8px 20px 10px 10px;
    width: 340px;
    height: 280px;
}

.SingleEntryTitle {
    float: left;
    display: block;
    margin: 0 30px;
}

.EntryRowRightDetails {
    display: block;
}

.SinglePostEntryContent {
    text-align: justify;
    float: left;
    padding: 20px;
}

@media (max-width: 991px) { 
    .ListEntryRow {
    }
    .EntryRowImage {
    }
    .SinglePostEntryImage {
        float: none;
        width: 100%;
    }
    .SinglePostEntryRowRight {
        padding-left: 15px;
    }
 }
 